{% extends 'layout.html' %}

{% block body %}

<p>Input the player to query and the year:</p>

<form method="POST">
  {{ form.hidden_tag() }}
  {{ form.name.label }} {{ form.name() }}
  {{ form.year.label }} {{ form.year() }}
  <br>
  {{ form.davis_cup.label}} {{ form.davis_cup()}}
   <br>
  {{ form.submit() }}
</form>
<hr>
<!-- <div>
  {% if data%}
  <ul>
  {% for k in keys %}
    <li>{{ k + ": " + data[k]|string }}</li>
  {% endfor %}
  </ul>
  {% endif %}

</div> -->

<div>
{% if data %}
{{ data }}
{% endif %}
</div>

{% endblock %}
