{% extends 'layout.html' %}

{% block body %}

  <div class="jumbortron text-center">
    <h1>Welcome to Tennis Expert</h1>
    <p class="lead">This application is aiming at querying and displaying
      statistics of tennis players rivalries and hidden tennis fun facts for tennis fans.
    </p>
  </div>
  <hr>

  <div class="jumbortron text-center">
    <img src="https://i.pinimg.com/originals/8a/cb/7d/8acb7d0f7643ece7d610f8947071150d.jpg" alt="picture" height="30%" width="50%">
  </div>
{% endblock %}
